{% extends 'base.html'%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      {% for object in object_list%}
      <div class="card">
          {% if object.image%}
      <img src="{{object.image.url}}" class="card-img-top" >
          {% endif%}
      <div class="card-body">
        <h5 class="card-title">{{object.writer.username}}</h5><br>
        <p class="card-text"> {{object.text}}<br>
        {{object.updated}}</p>
        <a href="{% url 'photo:photo_detail' object.id%}" class="btn btn-primary btn-sm ">댓글 달기</a>
      </div>
    </div><br>
        {%endfor%}

{% endblock %}
{% block pagination %}
    {% if is_paginated %}
        <div class="d-flex justify-content-center">
        <ul class="pagination flex-center ">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'photo:photo_list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">«</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1" >«</a>
                </li>
        {% endif %}

            {% for object in page_obj.paginator.page_range %}
                <li class="page-item  {% if page_obj.number == forloop.counter %}disabled{% endif %}">
                    <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
            {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'photo:photo_list' %}?page={{ page_obj.next_page_number }}">»</a>
          </li>
        {% else %}
 	<li class="page-item disabled">
        <a class="page-link" href="#">»</a>
    </li>
        {% endif %}

    </ul>
    {% endif %}
        </div>
{% endblock %}


    </div>
    <div class="col-2">
   </div>
  </div>
    </div>