{% extends 'base.html'%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card">
      <img src="{{object.image.url}}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">        {{object.writer.username}}</h5><br>
        <p class="card-text"> {{object.text}}<br>
        {{object.updated}}</p>
          <a href="{% url 'photo:photo_delete' object.id %}" class="btn btn-sm btn-danger">삭제하기</a>
          <a href="{% url 'photo:photo_update' object.id %}" class="btn btn-sm btn-warning">수정하기</a>

     </div>
    </div>
    </div>
    <div class="col-3">
    </div>
  </div>

    <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6" style="margin-top:3em;">
      {% load disqus_tags %}
      {% disqus_show_comments %}
    </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>

{% endblock %}